.github/workflows/build.yml
/.logs/
/.venv/

/build*
/obj-*
/debian/tmp
/debian/signing-milter
/debian/*.debhelper.log
/debian/*.debhelper
/debian/debhelper-build-stamp
/debian/files
/debian/signing-milter.substvars
*.o
*.a
/signing-milter
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/config.h
dump.rdb
