.github/workflows/build.yml
/.logs/

/build*
/obj-*
/debian/tmp
/debian/signing-milter
/debian/*.debhelper.log
/debian/*.debhelper
*.o
*.a
/signing-milter
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/config.h
