Source: signing-milter
Section: mail
Priority: optional
Maintainer: Andreas Schulze <debian@andreasschulze.de>
Build-Depends: cdbs
 , debhelper (>= 10)
 , lintian
 , shellcheck
 , pkg-config
 , libcdb-dev
 , dv-libmilter-dev | libmilter-dev
 , dv-libssl-dev | libssl-dev
Standards-Version: 4.3.0
Homepage: https://signing-milter.org

Package: signing-milter
Architecture: any
Pre-Depends: adduser
Depends: ${misc:Depends}
 , ${shlibs:Depends}, tinycdb
Recommends: make
Description: Sign email via milter protocol
 signing-milter  uses  the  milter  interface, originally distributed as
 part of version 8.11 of sendmail(8), to  provide  signing  service  for
 mail transiting a milter-aware MTA.
