# This file defines which alias uses which which certificate file
# Certificate file has to be suffixed by -cert+key.pem to be valid for private key and certificate
#
# Example:
# mail@example.com  /etc/certs/private/mail_example_com-cert+key.pem