[Unit]
Description=Daily statistics logging for signing-milter

[Service]
Type=oneshot
ExecStart=/usr/share/signing-milter/signing-milter-statistics daily
