[Unit]
Description=Start signing milter service
After=local-fs.target network.target systemd-tmpfiles-setup.service

[Service]
EnvironmentFile=/etc/default/signing-milter
WorkingDirectory=/etc/signing-milter
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/sbin/signing-milter $OPTIONS
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target